.rotor__replacement-date{
  font-family: 'GT Eesti';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  background: #E1E1E1;
  border-radius: 4px;
  text-align: center;
  padding: 4px 10px;
  margin: 0;
}