.rotor__date {
  padding: 4px 10px;
  text-align: center;
  background: #F4F4F4;
  border-radius: 4px;
  font-family: 'GT Eesti';
  font-style: normal;
  font-weight: 375;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
}